@keyframes leftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}

@keyframes rightLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.animation-l-to-r {
  animation: leftRight 2s infinite;
}

.animation-r-to-l {
  animation: rightLeft 2s infinite;
}

.animation-u-to-d {
  animation: upDown 2s infinite;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
   .hero-images-container {
    display: none; 
   }
  

  .hands-background {
    display: none;  
  }
}

