
@keyframes leftRight {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }
  
  @keyframes rightLeft {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
  }
  
  @keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-left-right {
    animation: leftRight 2s infinite;
  }
  
  .animate-right-left {
    animation: rightLeft 2s infinite;
  }
  
  .animate-up-down {
    animation: upDown 2s infinite;
  }
  