@import url('https://fonts.googleapis.com/css2?family=Apex+Mk2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');


@font-face {
    font-family: 'Apex Mk2';
    src: url('/path-to-font/ApexMk2.woff2') format('woff2');
    
  }
  
  @font-face {
    font-family: 'Oxanium';
    src: url('/path-to-font/Oxanium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/path-to-font/Roboto.woff2') format('woff2');
  }  




@tailwind base;
@tailwind components;
@tailwind utilities;



  